*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /*Set the default web browser settings*/

/*start navigation*/
.container{
    display: flex;
    align-items: center;
    background: rgb(48, 48, 38);
    
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    padding: 10px;
}

/*start animating logo*/

.logo h1::before{
    color:  rgb(205, 207, 57);
    font-weight: bold;
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: 0vw white;
    border-right: 2px transparent rgb(243, 1, 42);
    overflow: hidden;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%,10%,100%
    {
        width: 0; height: 0;
    }
    30%,37%
    {
        width: 40%; height: 10%;
    }
}
/*Stop animating logo*/

body{
    background-color: rgb(141, 150, 126);
    /*filter: url(#goo);*/
}

ul li{
    margin: auto;
    left: 180%;
    position: relative;
    list-style: none;
}

ul li a{
    height: 40%;
    padding: 5px;
    text-decoration: none;
    color: rgb(200, 245, 2);
    border: 2px solid rgb(185, 185, 79);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0.25);
    border-radius: 3px;
}

ul li:hover a{
    filter: blur(3px);
    opacity: 0.5;
    transform: scale(0.98);
    box-shadow: none;
}

ul li:hover a:hover{
    transform: scale(1);
    filter: blur(0px);
    opacity: 1 ;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0.125);
}

/*end navigation*/

/*start homepage*/
.home_section{
    display: inline-block;
    margin: auto;
    left:15%;
    position: relative;
    padding: 50px;
    height: 10%;
}

.home_section h4{
    text-align: center;
    color: rgba(201, 57, 0, 0.767);
}
.home_section p{
    text-align: center;
    color: white;
}

.home_section img{
    width: 100px;
    margin: auto;
    left: 28%;
    position: relative;
}

.request:hover .home_section{
    filter: blur(5px);
}

.request:hover .home_section:hover{
    filter: blur(0px);
}

hr {
    color:solid rgb(80, 80, 21);
}
/*end home page*/

/*start second page*/
.product{
    display: flex;
}

.product div h2 {
    margin: auto;
    left: 40px;
    position: relative;
    color: rgba(201, 57, 0, 0.767);
}

.product div p {
    margin: auto;
    left: 40px;
    position: relative;
    color: white;
}

.service{
    display: flex;
}

.service div h2 {
    left: 10%;
    position: relative;
    width: 80%;
    color: rgba(201, 57, 0, 0.767);
}

.service div p {
    left: 10%;
    position: relative;
    width: 60%;
    color: white;
}

.prods_sev:hover section{
    filter: blur(10px);

}

.prods_sev:hover .service:hover{
    filter: blur(0px);
}

.prods_sev:hover .product:hover{
    filter: blur(0px);
}
/*end second page*/

/*begin third page*/
.about_section1 p{
    text-align: center;
    width: 733px;
    left: 22%;
    position: relative;
    color:White;
}

.about_section1 h2{
    width: 810px;
    text-align: center;
    left: 19%;
    position: relative;
    color: rgba(201, 57, 0, 0.767);
}
/*end of third page*/

/*start fourth page*/
.contac_h h2{
    width: 70%;
    left: 5%;
    position: relative;
    color: rgba(201, 57, 0, 0.767);
}

.contac_h p{
    text-align: right;
    width: 19%;
    left: 38%;
    position: relative;
    color: White;
}
/*end fourth page*/


